[submodule "tempus_core"]
	path = tempus_core
	url = https://gitlab.com/Oslandia/tempus_core.git
[submodule "pytempus"]
	path = pytempus
	url = https://gitlab.com/Oslandia/pytempus.git
[submodule "tempus_loader"]
	path = tempus_loader
	url = https://gitlab.com/Oslandia/tempus_loader.git
[submodule "osm2tempus"]
	path = osm2tempus
	url = https://gitlab.com/Oslandia/osm2tempus.git
[submodule "tempus_wps_server"]
	path = tempus_wps_server
	url = https://gitlab.com/Oslandia/tempus_wps_server.git
[submodule "tempus_qgis"]
	path = tempus_qgis
	url = https://gitlab.com/Oslandia/tempus_qgis.git
[submodule "tempus_pywps"]
	path = tempus_pywps
	url = https://gitlab.com/Oslandia/tempus_pywps.git
